<div class="userCenter-userInfo-list" ng-controller="userInfoListCtr">
    <!--Begin 主体内容 -->
    <ul class="normalList mt60">
        <!--Begin 用户信息-->
        <li ng-click="userInfo()">
            <img src="css/images/userCenter/icon-userCenter-userImg.png" alt="">
            用户信息
            <i class="icon icon-arrow icon-arrow-right"></i>
        </li>
        <!--End 用户信息-->

        <!--Begin 修改手机号-->
        <li ng-click="editPoneNum()">
            <img src="css/images/userCenter/icon-userCenter-phone.png" alt="">
            修改手机号
            <i class="icon icon-arrow icon-arrow-right"></i>
        </li>
        <!--End 修改手机号-->
    </ul>
    <p class="container-fluid text-default fs36">用户信息选项设置用户的昵称、性别等信息，手机号码选项修改用户对应的手机号码</p>
    <!--End 主体内容 -->
</div>
